{% extends "admin_header.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>

<body>



  <body class="">
<div class="pc-container">
    <div class="pcoded-content">
    <div class="row">
                <!-- [ Gallery-Grid ] start -->
                <div class="col-sm-12">
                    <!-- [ Image-Grid ] start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Graph Image</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10 col-sm-6">
                                    <div class="thumbnail mb-4">
                                        <div class="thumb">
                                            <img src="data:image/png;base64,{{graph}}" alt="" class="img-fluid img-thumbnail">  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 ">
                                    <a download="Graph" class="btn btn-primary" href="data:image/png;base64,{{graph}}">Download</a>
                                    <button onclick="dowData()" class="btn btn-primary">Download Excel File</button>                             
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Image-Grid ] end -->
                </div>
                <!-- [ Gallery-Grid ] end -->
    </div>
    </div>
 </div>

 <script src="{% static 'js/vendor-all.min.js' %}"></script>
 <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/plugins/feather.min.js' %}"></script>
 <!-- <script src="{% static 'js/pcoded.min.js' %}"></script> -->
 <!-- Apex Chart -->


 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script type="text/javascript" src="http://www.google.com/jsapi?key=INSERT-YOUR-KEY"></script>
<script type="text/javascript">
   function dowData(){
    console.log("Click");
    console.log("{{ xlsx_data }}")
   

    $.ajax({
              type: 'POST',
              url:  "{% url 'Download' %}",
              data: {
                "xlsx_data":'{{xlsx_data}}',
              },
              contenttype:"multipart/form-data",
              success: (res) => {
                console.log(res)
              },
              error:(err) => {
                console.log(err,"AJAX Err")
              }
            })
    console.log("End")
   } 
 
</script>

<!-- custom-chart js -->

{% endblock content %}
</body></html>